body {
	position:fixed;
	top:0; right:0; bottom:0; left:0;
	margin:0;
	width:100%;
	height:100%;
	object-fit:contain; 
	font: normal 14px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
}

#page{ height:100%; width:100%; }
#head{ 
	height:20%; 
	width:100%; 
	float:left; 
	background-image:url(../images/bg_head.gif); 
	background-repeat:repeat-x;
}

#main{ 
	height:70%; 
	width:100%;
	float:left;
}

#left{
	height:100%; 
	width:20%; 
	float:left; 
	font-size:11px; 
	overflow-y:scroll;
}

#right{ 
	height:100%; 
	width:80%; 
	float:left;
	overflow-x:hidden;
}

#footer{ 
	height:10%; 
	width:100%; float:left; 
	background-image:url(../images/bg_footer.gif); 
	background-repeat:repeat-x;
}

#txtfooter{ 
	font-size:13px; 
	text-align:center;
	color:#666; 
	padding-top:25px;}
a{
	color: #c75f3e;
}

.dvHeader {
	font-size:28px; 
	font-weight:bold;
	font-style:italic; 
	color:#4f6b72;
	padding-left:5px;
	padding-bottom:5px;
	border-bottom-style:solid;
	border-bottom-width:3px; 
	border-bottom-color:#4f6b72;
	margin-bottom:20px;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 5px;
	margin-top:5px;
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

input#txtNewName{
	width: 340px; 
	height:27px;
	border: 1px solid #E7E7E7;
	background: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px; padding-left:15px;
}

input#txtNewName:hover{
	border: 1px solid #41B7D8;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
}

#mytable {
	width: 100%;
	padding: 0;
	margin: 0;
}

.btnNone{
	width:75px; 
	height:27px; color:#000; 
	background-color:#E6E6E6; 
	background-repeat:inherit; border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #B3B3B3;
	text-shadow: 0 1px 0 white;
}

.btnSubmit{
	width:75px; 
	height:27px; color:#FFF;
	background-image:url(../images/sprite.png); 
	background-repeat:inherit; border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.btnSubmit:hover {
	border: 1px solid #B3B3B3;
	color: black !important;
	background: #E6E6E6;
	text-shadow: 0 1px 0 white;
}


.btnChange{
	width:auto; 
	height:27px; color:#FFF;
	background-image:url(../images/sprite.png); 
	background-repeat:inherit; border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

}

.btnChange:hover {
	border: 1px solid #B3B3B3;
	color: black !important;
	background: #E6E6E6;
	text-shadow: 0 1px 0 white;
}

th {
	font-size:11.5px;
	font-weight:bold;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.jpg); 
	background-repeat:repeat-x;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

th.spec {
	font-size:11.5px;
	font-weight:bold; 
	color: #4f6b72;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.jpg); 
	background-repeat:repeat-x;
}

th.specalt {
	font-size:11.5px;
	font-weight:bold;
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	color: #797268;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

td.spec_{
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

td.spec_alt{
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	background: #F5FAFA;
	color: #797268;
}