@charset "utf-8";
/* CSS Document */
body{ 
	font-family: "Lucida Grande",Verdana,Arial,sans-serif;
	font-size:13px;
}

label{
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

form {
	padding: 18px;
}
.tr {
	text-align: right !important;
}
/* login page */
#login {background: #222;}
#login .box {float: none; margin: 200px auto;}
#login .boxin {box-shadow: #111 0 0 10px; -webkit-box-shadow: #111 0 0 10px; -moz-box-shadow: #111 0 0 10px; border: 0;}
#login .header {margin: 0;}
#login table {width: 75%; margin: 0 auto;}
#login th,
#login td {padding: 0 0 5px 0;}
#login th {width: 60px;}
#login td.proceed {padding-right: 0;}
#login td.proceed input {margin: 0;}
#login input.txt {width: 260px;}
#login .button {
	border: 1px solid #00487A;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #0567AD url("../images/button.gif") repeat-x;
	padding: 5px 9px 5px;
	text-shadow: #00487A 1px 1px 0;
	color: white;
	cursor: pointer;
}

.msg-info {
	border-color: #9FD1F5;
	background: #C3E6FF url("../images/msg-info.png") repeat-x;
	color: #005898;
}

.msg-info p {
	background: url("../images/led-ico/exclamation.png") 0 50% no-repeat;
}

.msg {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid;
	margin: 0 0 15px 0;
	padding: 8px 10px 0 10px;
}

.msg p {
	margin: 0 0 8px 0;
	padding-left: 25px;
}

input.txt,
textarea {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid #999; background: url("../images/txt.gif") repeat-x; padding: 5px 2px;
}

/*************************** Main ********************************/
.index{ 
	width:1200px;
	height:715px; 
	text-align:center; 
	box-shadow: #AAA 0 0 10px;
	-webkit-box-shadow: #AAA 0 0 10px;
	-moz-box-shadow: #aaa 0 0 10px;
	border: 1px solid #CCC; background-color:#C6E0F2;
}

#header{ 
	width:100%; 
	height:80px; 
	float:left; 
	background-image:url(../images/bg_footer_office.png);
}

.header_left{ 
	float:left; 
	width:80%; 
	height:100%;
}

.header_center{ 
	float:left; 
	width:60%; 
	height:100%;
}

.header_right{ 
	float:right; 
	width:20%; 
	height:100%;
}

.menu{ 
	width:100%; 
	height:35px; 
	float:left; 
	border-top-color: #0A81D0;
	background: #FFFFFF url("../images/altheaderbox.png") repeat-x;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
	left:0px; top:0px; z-index:-1px;
}

.main{ 
	width:100%; 
	height:480px; 
	background-color:#FFF; 
	float:left; 
	/* overflow-y:auto; */
}

.footer{ 
	width:100%; 
	height:30px; 
	background: #fff url("../images/tfoot.gif") repeat-x;
	float:left; 
}

.footer a{
	color: #127BA5;
	text-decoration:none;
}


/*************** Menu Web ******************/
.dropdown
{
	width: 100%;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none; 
	border-top-color: #0A81D0;
	background: #0F518E url("../images/altheaderbox.png") repeat-x;
	border-top-left-radius: 10px;
	/* border-top-right-radius: 10px; */
}

.dropdown li
{
	float: left;
	padding: 0 0 5px 0;
	position: relative;
	line-height: 0;
}

.dropdown a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color:#FFF; 
	font-size:12px; 
	padding-top:12px;
	text-decoration: none;
}

.dropdown li:hover > a
{
	color: #000000; 
	font-weight:bold;
}

.dropdown li:hover > ul
{
	display: block;
}

/* Sub-menu */

.dropdown ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 99999;    
    background: -webkit-linear-gradient(#69C4FF, #0E5999);    
    border-radius: 5px;
}

.dropdown ul ul
{
  top: 0;
  left: 150px;
}

.dropdown ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
	/*
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	*/
}

.dropdown ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.dropdown ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 0.8;
    display: block;
    white-space: nowrap;
	float: none;
	text-transform: none;
}

.dropdown ul a:hover{ 
	background-color:#FFFFFF;
}

.dropdown ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.dropdown ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.dropdown ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

.dropdown ul li:first-child a:hover:after
{
    border-bottom-color: #000000; 
}

.dropdown ul ul li:first-child a:hover:after
{
    border-right-color: #000000; 
    border-bottom-color: transparent; 	
}


.dropdown ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
.dropdown:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.dvHeader{ 
	font-size: 1.692em;
	color: #0F5290; 
}

.dvHeader:hover{ 
	color: #0A80CF; 
}

.well { 
	min-height: 20px;
	padding: 19px;
	margin-bottom: 5px;
	margin-top:12px;
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well .txt_title{ font-size:22px; text-align:center;  color:#000; margin-top:-20px; margin-bottom:10px; } 
.disables{
	width: 20px; 
	height:23px;
	border: 1px solid #E7E7E7;
	background:#D2D2D2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px; padding-left:8px;
}


input.description{
	width: 290px; 
	height:30px;
	border: 1px solid #E7E7E7;
	background: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px; padding-left:8px;
}

input.description:hover{
	border: 1px solid #2BA4F4;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
}

.inner-container {width: 1125px; margin: 0 auto;}
.altbox .content a {border-color: #d0e4f5; color: #0f5290;}
.altbox .content a:hover, .altbox .content a:active, .altbox .content a:focus {border-color: #d0e4f5; color: #0a80cf;}

/* content boxes */
.box {float: left; width: 960px; margin: 0 20px 20px 0;}
.box-25 {width: 281px;} /* 25% box */
.box-40 {width: 450px;} /* 50% box */
.box-45 {width: 470px;} /* 50% box */
.box-50 {width: 562px;} /* 50% box */
.box-60 {width: 675px;} /* 60% box */
.box-75 {width: 844px;} /* 75% box */
.box-100 {width: 1125px;} /* 100% box */
.altbox {} /* class for alternative (emphasized) boxes (blue headings and colors) */

.div_tr{ width:100%; float:left; margin-top:5px; }
.div_td_first{ width:40%; float:left; text-align:right; }
.div_td_second{ float:left; padding-left:5px; }

/* wrap of box's content */
.boxin {box-shadow: #aaa 0 0 10px; -webkit-box-shadow: #aaa 0 0 10px; -moz-box-shadow: #aaa 0 0 10px; 
	border: 1px solid #999; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; background: #fff;}
	
/* boxes' headers */
.box .header {
	background: #3d3d3d url("../images/headerbox.png") repeat-x;
	border-top: 1px solid #444;
	border-radius: 5px 5px 0 0;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
	position: relative; margin: -1px -1px 0 -1px; 
	padding: 5px 0 10px 15px;
}
.altbox .header {border-top-color: #0a81d0; background: #0f518e url("../images/altheaderbox.png") repeat-x;}
.box .header h3 {position: relative; top: 2px; display: inline; color: #fff; text-shadow: #151515 0 1px 0;}
.altbox .header h3 {text-shadow: #003d68 0 1px 0;}
.altbox .button{ border: 1px solid #272727; background: #2A2A2A url("../images/altbutton.gif") repeat-x; font-size:11px; 	
	margin:3px 0 5px 10px; text-shadow: black 1px 1px 0; }
.altbox .button:hover{ background: #0567AD url("../images/button.gif") repeat-x; color:#FFF; }

/* boxes' content types – tabular */
.box .content {margin-bottom: 5px;}
.box .content table {width: 100%; font-size:100%;}
.box .content table a {
	border-bottom: 1px solid #D0E4F5;;
	text-decoration: none;
}

.box .content table th,
.box .content table td {padding: 10px 10px 8px 10px;}
.box .content table th {text-align: left; font-weight: normal;}
.box .content table tr.even th,
.box .content table tr.even td {background: #f5f5f5;}
.altbox .content table tr.even th,
.altbox .content table tr.even td {background: #f0f9ff;}
.box .content table th.first,
.box .content table td.first {padding-left: 20px;}
.box .content table thead th,
.box .content table thead td {border-left: 1px solid #f2f2f2; border-right: 1px solid #d5d5d5; 
	background: #ddd url("../images/thead.gif") repeat-x; text-shadow: #fff 0 1px 0;}
.box .content table tbody tr.first th,
.box .content table tbody tr.first td {border-top: 1px solid #bbb;}
.altbox .content table tbody {color: #00305d;}