@font-face{
	font-family: "TH_Krub";
	src: url(font/TH_Krub.ttf) format("truetype");
}

body{ 
	/* font-family: "custom_font"; */
	font-family: "TH_Krub",Verdana,Arial,sans-serif;
	font-size:22px;
}

h3{ margin:0px; }
.demo { font-size:12px;}
.hasDatepicker{ padding:3px; font-size:14px; width:80px;}
.dvHeader{ font-size:22px; color: #0F5290; }
.dvHeader:hover{ color: #0A80CF; }
.txt_red{ color:#F00;}
.txt_blue{ color:#006;}


/*************** Main **************/
#index{ width: 1200px; height: auto; text-align: center; display: table-cell; border:#CCC 1px solid; }
#header{ height: 146px; background: url(../images/header.jpg) repeat;}
#menu{ background: #0F518E url("../images/altheaderbox.png") repeat-x; }
#footer{ height:auto; color:#FFF;}
#footer .left{ 	width: 13px; height: 60px; float: left; background: url(../images/left-image2.gif) no-repeat;}
#footer .center{width: 1174px; height: 60px; float: left; background: url(../images/left-image1.gif) repeat-x;
	text-align: center; }
#footer .right{ width: 13px; height:60px; float: left; background: url(../images/right-image2.gif) no-repeat;}

/*************** Menu Web ******************/
.dropdown{
	width: 100%; height:30px;
	margin: 0;
	padding: 5px 0 0 0; text-align:left;
	list-style: none; 
	border-top-color: #0A81D0;
	background: #0F518E url("../images/altheaderbox.png") repeat-x;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.dropdown li{
	float: left;
	padding: 0 0 5px 0;
	position: relative;
	line-height: 0;
}

.dropdown a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color:#FFF; 
	font-size:20px; 
	padding-top:12px;
	text-decoration: none;
}

.dropdown li:hover > a{
	color: #000000; 
	/* font-weight:bold; */
}

.dropdown li:hover > ul{
	display: block;
}

/* Sub-menu */

.dropdown ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 99999;    
    background: -webkit-linear-gradient(#69C4FF, #0E5999);    
    border-radius: 5px;
}

.dropdown ul ul{
  top: 0;
  left: 150px;
}

.dropdown ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
	/*
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	*/
}

.dropdown ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.dropdown ul a{    
    padding: 10px;
	height: 10px; 
	min-width:110px;
	height: auto;
    line-height: 0.8;
    display: block;
    white-space: nowrap;
	float: none;
	text-transform: none;
}

.dropdown ul a:hover{ 
	background-color:#FFFFFF;
}

.dropdown ul span .user a{ background-color:#900; }
.dropdown ul span .user a:hover{ background-color:#900; }

.dropdown ul li:first-child > a{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.dropdown ul li:first-child > a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.dropdown ul ul li:first-child a:after{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

.dropdown ul li:first-child a:hover:after{
    border-bottom-color: #000000; 
}

.dropdown ul ul li:first-child a:hover:after{
    border-right-color: #000000; 
    border-bottom-color: transparent; 	
}


.dropdown ul li:last-child > a{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
.dropdown:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/* login page */
#login form { padding: 18px; }
#login .box {float: none; margin: 200px auto; height:290px;}
#login .boxin {box-shadow: #111 0 0 10px; -webkit-box-shadow: #111 0 0 10px; -moz-box-shadow: #111 0 0 10px; border: 0;}
#login .header {
	background: #FFF url("../images/loginHead.png") repeat-x;
	border-top: 1px solid #444;
	border-radius: 5px 5px 0 0;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
	position: relative; margin: -1px -1px 0 -1px; 
	padding: 5px 0 10px 15px;
	margin:0px;
}
#login table {width: 75%; margin: 0 auto;}
#login .tr { text-align: right !important; }
#login th,
#login td {padding: 0 0 5px 0;}
#login th {width: 60px;}
#login td.proceed {padding-right: 0;}
#login td.proceed input {margin: 0;}
#login input.txt {width: 260px;}

/*********** End Login *************/
.msg-info {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid;
	margin: 0 20px 15px 20px;
	padding: 8px 10px 0 10px;
	border-color: #9FD1F5;
	background: #C3E6FF url("../images/msg-info.png") repeat-x;
	color: #005898;
}

.msg-info p {
	margin: 0 0 8px 0;
	padding-left: 25px;
	background: url("../images/led-ico/exclamation.png") 0 50% no-repeat;
}


/* wrap of box's content */
.boxin {box-shadow: #aaa 0 0 10px; -webkit-box-shadow: #aaa 0 0 10px; -moz-box-shadow: #aaa 0 0 10px; 
	border: 1px solid #999; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.boxno {border: 1px solid #999;}
.boxLogin{ width:470px;}
.bglogin{ background: #FFF url("../images/bglogin.png") repeat-x; background-position:bottom; }

/******************* Main Content *******************/
table {width:100%; margin-bottom:5px;}
table th {padding: 5px 10px 5px 10px; font-size:22px; font-weight:normal;}

table td {padding: 5px 10px 5px 10px; font-size:20px; border-bottom:solid; border-bottom-color:#CCC; border-bottom-width:1px; border-left:solid; border-left-width:1px; border-left-color:#CCC;}
table td.action {border-bottom:solid; border-bottom-color:#CCC; border-bottom-width:1px; border-left:solid; border-left-width:0px; border-left-color:#CCC; width:16px; text-align:left;}
table td.norecord {padding: 5px 10px 5px 10px; font-size:20px;border-bottom:solid; border-bottom-color:#CCC; border-bottom-width:1px; border-left:solid; border-left-width:1px; border-left-color:#CCC;border-right:solid; border-right-width:1px; border-right-color:#CCC; text-align:center}

table tr.even {background:#FFF}
table thead th {border-left: 1px solid #f2f2f2; border-right: 1px solid #d5d5d5; 
	background: #ddd url("../images/thead.gif") repeat-x; text-shadow: #fff 0 1px 0;}
table th.left {-moz-border-radius-topleft: 5px; -moz-border-radius-top: 5px; -webkit-border-top-left-radius: 5px; }
table th.right {-moz-border-radius-topright: 5px; -moz-border-radius-top: 5px; -webkit-border-top-right-radius: 5px; }
tbody tr.first td {border-top: 1px solid #bbb;}
tbody tr.last td {border-bottom: 1px solid #bbb; border-top: 1px solid #bbb; background: #fff url("../images/pagination.gif") repeat-x;}
table tr:hover { background-color:#F0F9FF;}

table.menu {width:100%; margin-bottom:5px;}
table.menu th {padding: 5px 10px 5px 10px; font-size:22px; font-weight:normal; border:none;}
table.menu td {padding: 5px 10px 5px 10px; font-size:20px; border:none; width:25%}


.nohover table tr:hover { background-color:#FFFFFF;}

.header {
	background: #3d3d3d url("../images/header.png") repeat-x; background-position:top;
	color:#FFF;
	border-top: 1px solid #444;
	border-radius: 5px 5px 0 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	position: relative;
	margin: -2px -1px 0 -1px;
	padding: 7px 0 7px 15px;
}

/***************** pagination ***************/
.pagination { font-size:20px; border-top: 1px solid #999; background: #fff url("../images/pagination.gif") repeat-x; 
	text-align: center; color: #333 !important; height:38px; -moz-border-radius-bottomleft: 5px; margin-bottom:7px; 
	-moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.pagination ul {position: relative; top: -7px; padding:0px;}
.pagination ul li {display: inline;}
.pagination a { border: 0; background: #ebebeb url("../images/pagination-item.gif") repeat-x; margin: 0 5px; 
	padding: 6px 10px; color: #333 !important; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 5px; 
	text-decoration:none;}
.pagination a:hover,
.pagination a:active,
.pagination a:focus {color: #0a80cf !important;}
.pagination strong {background: url("../images/pagination-arrow.gif") 50% 0 no-repeat; padding: 15px 10px 8px;}


/********* From Input **********/
.well {padding: 19px; margin:12px 0 5px 0; background-color: whiteSmoke; overflow:auto; 
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);	
	-webkit-border-radius: 4px;	
	-moz-border-radius: 4px; 
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
	
.dvtr{ width:100%; float:left; }
.dvtd_left{ float:left; text-align:right; }
.dvtd_right{ float:left; padding-left:5px;}

.w-100{ width:100%;}
.w-95{ width:95%;}
.w-90{ width:90%;}
.w-80{ width:80%;}
.w-75{ width:75%;}
.w-60{ width:60%;}
.w-50{ width:50%;}
.w-45{ width:45%;}
.w-40{ width:40%;}
.w-35{ width:35%;}
.w-30{ width:30%;}
.w-25{ width:25%;}
.w-24{ width:24%;}
.w-23{ width:23%;}
.w-20{ width:20%;}
.w-17{ width:17%;}
.w-15{ width:15%;}
.w-13{ width:13%;}
.w-10{ width:10%;}
.w-5{ width:5%;}


.top5{ padding-top:5px; }
.top10{ padding-top:10px; }
.top15{ padding-top:15px; }

.center{ text-align:center;}
.left{text-align:left;}
.right{ text-align:right;}

input.txt, textarea {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid #999; background:#FFF url("../images/txt.gif") repeat-x; padding: 5px 2px;
}

input.search {
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
	border: 1px solid #999; background:#FFF url("../images/txt.gif") repeat-x; padding: 3px 2px;
}


.btnSky { border-style:none; background: url("../images/btn1.png"); background-repeat:no-repeat; color: white; 
	font-family:inherit; font-size:22px; cursor: pointer; width:108px; height:35px; }
.btnSky:hover { background: url("../images/btn2.png"); background-repeat:no-repeat; }
.btnSky[disabled] {
	color:#333; cursor:default;
	font-weight:bolder; background-color:#933;
	background: url("../images/btn_hover.png");
}
/*
.btnSky[disabled]:hover {
	background: url("../images/btn_hover.png");
	cursor:default;
}
*/
.btnHeader { border: 0; background: #EBEBEB url("../images/pagination-item.gif") repeat-x; margin: 0 5px; padding: 6px 10px;
	color: #333; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 5px; cursor:pointer;
	position:absolute; top:5px; margin-left:200px;}
.btnHeader:hover { color:#0a80cf; }

.btnTh { border: 0; background: #EBEBEB url("../images/pagination-item.gif") repeat-x; margin:-10px; cursor:pointer;
	padding: 3px 8px; color: #333; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 5px;}
.btnTh:hover { color:#0a80cf; }
.btnTh[disabled] { border: 0; background:#CCC; margin:-10px; cursor:default;
	padding: 3px 8px; color: #000; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 5px;}

.btnBack { border-style:none; background: url("../images/back.png"); cursor: pointer; width:126px; height:46px; }
.btnBack:hover { border-style:none; background: url("../images/back_hover.png") repeat-x; }

.btnEdit {border-style:none; background: url("../images/icons/edit.png"); cursor: pointer; width:16px; height:16px; }
.btnRes { border-style:none; background: url("../images/icons/restore.png"); cursor: pointer; width:16px; height:16px; }
.btnKey { border-style:none; background: url("../images/btnKey.gif"); cursor: pointer; width:16px; height:16px; }
.btnDel { border-style:none; background: url("../images/icons/delete.png"); cursor: pointer; width:16px; height:16px; }
.btnPre { border-style:none; background: url("../images/icons/preview.png"); cursor: pointer; width:16px; height:16px; }
.btnPurge { border-style:none; background: url("../images/icons/purge.png"); cursor: pointer; width:16px; height:16px; }
.btnCopy { border-style:none; background: url("../images/icons/copy.png"); cursor: pointer; width:16px; height:16px; }
.btnSave { border-style:none; background: url("../images/icons/add.png"); cursor: pointer; width:16px; height:16px; }
.btnButton {
	border: 1px solid #77D5F7; padding: .4em 1em;
	background: #0078AE url(custom-theme/images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x; 
	font-weight: normal; color: white; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor:pointer;
	}
.btnJQR {
	border: 1px solid #77D5F7; padding: .4em 1em;
	background: #0078AE url(custom-theme/images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x; 
	font-weight: normal; color: white; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px; cursor:pointer;
	}	
.btnJQR[disabled] {
	border: 1px solid #999; padding: .4em 1em;
	background:#CCC; font-weight: normal; color:#000; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px; cursor:default;
	}

	
h1{ font-size:28px;}
h2{font-size:26px;}
h3{ font-size:24px;}
h4{font-size:22px;}

.well .head{ font-weight:200; color:#666; padding-bottom:5px; border-bottom:solid 2px #CCC; }
.marquee{ text-shadow: 0.1em 0.1em #F0F0F0; color:#06C; font-size:22px;}

/* jQuery UI Datepicker 1.8.21 */
.ui-datepicker {font-family: "TH_Krub",Verdana,Arial,sans-serif; font-size:20px;}
.ui-datepicker { width: 11em; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.1em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.3em; height: 1.3em; }
.ui-datepicker .ui-datepicker-title { line-height: 1.3em; text-align: center; }
.ui-datepicker table {margin:0 0 .1em; }
.ui-datepicker th { padding: .1em .1em; font-weight:normal; font-size:18px;}
.ui-datepicker td span, .ui-datepicker td a { padding: .1em; }

/* jQuery UI Dialog 1.8.23 */
.ui-dialog {font-family: "TH_Krub",Verdana,Arial,sans-serif; font-size:20px;}
.ui-dialog p{ margin-top:10px;}

.ui-dialog .well .txt{ font-size:12px;}
.ui-dialog .well { font-size:20px;}
.ui-dialog label{ font-size:13px;}
.ui-dialog .ui-dialog-titlebar { padding: .1em .8em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .1em .8em; background: none; overflow: auto; zoom: 1;}

.ui-timepicker-div { font-size:14px; position::absolute; top:50px; left: 50px;}
.ui-timepicker-div table td { font-size:14px;}
.ui_tpicker_minute, .ui_tpicker_second { margin-top:10px; }
.ui_tpicker_hour { margin-top:5px; }
#ui-datepicker-div{ width:250px;}
#ui-datepicker-div button{ font-size:14px;}

/* jQuery UI Tab 1.8.23 */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #4AACDD;
	background: #3d3d3d url("../images/header.png") repeat-x; background-position:top;
	font-weight: normal;
	color: white;
}
.ui-widget-header {
	border: 1px solid #4297D7;
	background: #3d3d3d url("../images/header.png") repeat-x; background-position:top;
	color: #EAF5F7;
	font-weight: bold;
}

.set_font_table{
	font-family: "TH_Krub",Verdana,Arial,sans-serif;
	font-size:22px;
}
.preview { cursor:pointer}
.iconList { cursor:pointer; width:16px; height:16px;}

.btnButtonNorm {
	border: 1px solid #77D5F7; padding: .4em 1em;
	background: #0078AE /*url(custom-theme/images/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% 50% repeat-x*/; 
	font-weight:normal; color: white; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor:pointer;
	}
.btnButtonOn {
	border: 1px solid #77D5F7; padding: .4em 1em;
	background: #FF3333 /*url(custom-theme/images/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% 50% repeat-x*/; 
	font-weight:bolder; color:#309; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor:pointer;
	}

.btnButtonOn[disabled] {
	border: 1px solid #77D5F7; padding: .4em 1em;
	background: #CCCCCC /*url(custom-theme/images/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% 50% repeat-x*/; 
	font-weight:bolder; color:#333; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor:default;
	}

.btnButtonOff {
	border: 1px solid #77D5F7; padding: .4em 1em;
	background: #009900 /*url(custom-theme/images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x*/; 
	font-weight:bolder; color:#900; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor:pointer;
	}

.btnButtonOff[disabled]{
	border: 1px solid #77D5F7; padding: .4em 1em;
	background: #CCCCCC /*url(custom-theme/images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x*/; 
	font-weight:bolder; color:#333; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor:default;
	}
.spanScheduleOn {
	font-family: "TH_Krub",Verdana,Arial,sans-serif;
	font-size:20px; font-weight:bolder; color:#333;
	margin-top: 5px;
	background: #66FF66;
	text-align:center;
	padding: 10px;
	width:300px;
	margin-left: 25px;
}

.spanScheduleOff {
	font-family: "TH_Krub",Verdana,Arial,sans-serif;
	font-size:20px; font-weight:bolder;
	margin-top: 5px;
	margin-left: 25px;
	width:300px;
}

.spSchStatusOK {
	float:right; 
	padding:0px 10px 0px 10px; 
	background:#33FF33; 
	color:#333333;
	margin-right: 10px;
	margin-top: 5px;
	font-weight:bolder;
}

.spSchStatusWait {
	float:right; 
	padding:0px 10px 0px 10px; 
	background:#FFFF33; 
	color:#333333;
	margin-right: 10px;
	margin-top: 5px;
	font-weight:bolder;
}

.spSchStatusFailed {
	float:right; 
	padding:0px 10px 0px 10px; 
	background:#FF3333; 
	color:#FFFFFF;
	margin-right: 10px;
	margin-top: 5px;
	font-weight:bolder;
}

.spSchMenu {
	font-size: 16px;
}

table.demo th {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold;}
table.demo td {padding: 5px 10px 5px 10px; font-size:16px; font-weight:normal}

th.day_01 {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold; background-color:#F00; background-image:none; text-shadow:none;}
th.day_02 {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold; background-color:#FF0; background-image:none; text-shadow:none;}
th.day_03 {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold; background-color:#F66; background-image:none; text-shadow:none;}
th.day_04 {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold; background-color:#060; background-image:none; text-shadow:none;}
th.day_05 {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold; background-color:#F60; background-image:none; text-shadow:none;}
th.day_06 {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold; background-color:#3CF; background-image:none; text-shadow:none;}
th.day_07 {padding: 5px 10px 5px 10px; font-size:18px; font-weight:bold; background-color:#60F; background-image:none; text-shadow:none;}

.ui-tabs .ui-tabs-nav .schedule_selected { margin-bottom: 0; padding-bottom: 1px; background-image:none; background:#CCC}

.btnAction {
/*	border: 1px solid #77D5F7; */
	padding: .4em 1em;
	font-weight:bolder; color:#333; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 95px; 
	text-align: center;
	cursor: pointer;
	}
