@charset "utf-8";
/* CSS Document */
body{ 
	font-family: "Lucida Grande",Verdana,Arial,sans-serif;
	font-size:14px;
}

h3{ margin:0px; }
.demo { font-size:12px; }
.dvHeader{ font-size:22px; color: #0F5290; }
.dvHeader:hover{ color: #0A80CF; }
.txt_red{ color:#F00;}
.txt_blue{ color:#006;}


/*************** Main **************/
#index{ width: 1200px; height: auto; text-align: center; display: table-cell; border:#CCC 1px solid; }
#header{ height: 146px; background: url(../images/header.jpg) repeat;}
#menu{ background: #0F518E url("../images/altheaderbox.png") repeat-x; }
#footer{ height:60px; color:#FFF;}
#footer .left{ 	width: 13px; height: 60px; float: left; background: url(../images/left-image2.gif) no-repeat;}
#footer .center{width: 1174px; height: 60px; float: left; background: url(../images/left-image1.gif) repeat-x;
	text-align: center; padding-top:30px; }
#footer .right{ width: 13px; height:60px; float: left; background: url(../images/right-image2.gif) no-repeat;}

/*************** Menu Web ******************/
.dropdown{
	width: 100%; height:30px;
	margin: 0;
	padding: 5px 0 0 0; text-align:left;
	list-style: none; 
	border-top-color: #0A81D0;
	background: #0F518E url("../images/altheaderbox.png") repeat-x;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.dropdown li{
	float: left;
	padding: 0 0 5px 0;
	position: relative;
	line-height: 0;
}

.dropdown a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color:#FFF; 
	font-size:13px; 
	padding-top:12px;
	text-decoration: none;
}

.dropdown li:hover > a{
	color: #000000; 
	font-weight:bold;
}

.dropdown li:hover > ul{
	display: block;
}

/* Sub-menu */

.dropdown ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 99999;    
    background: -webkit-linear-gradient(#69C4FF, #0E5999);    
    border-radius: 5px;
}

.dropdown ul ul{
  top: 0;
  left: 150px;
}

.dropdown ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
	/*
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	*/
}

.dropdown ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.dropdown ul a{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 0.8;
    display: block;
    white-space: nowrap;
	float: none;
	text-transform: none;
}

.dropdown ul a:hover{ 
	background-color:#FFFFFF;
}

.dropdown ul li:first-child > a{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.dropdown ul li:first-child > a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.dropdown ul ul li:first-child a:after{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

.dropdown ul li:first-child a:hover:after{
    border-bottom-color: #000000; 
}

.dropdown ul ul li:first-child a:hover:after{
    border-right-color: #000000; 
    border-bottom-color: transparent; 	
}


.dropdown ul li:last-child > a{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
.dropdown:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/* login page */
#login form { padding: 18px; }
#login .box {float: none; margin: 200px auto;}
#login .boxin {box-shadow: #111 0 0 10px; -webkit-box-shadow: #111 0 0 10px; -moz-box-shadow: #111 0 0 10px; border: 0;}
#login .header {
	background: #FFF url("../images/loginHead.png") repeat-x;
	border-top: 1px solid #444;
	border-radius: 5px 5px 0 0;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
	position: relative; margin: -1px -1px 0 -1px; 
	padding: 5px 0 10px 15px;
	margin:0px;
}
#login table {width: 75%; margin: 0 auto;}
#login .tr { text-align: right !important; }
#login th,
#login td {padding: 0 0 5px 0;}
#login th {width: 60px;}
#login td.proceed {padding-right: 0;}
#login td.proceed input {margin: 0;}
#login input.txt {width: 260px;}

/*********** End Login *************/
.msg-info {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid;
	margin: 0 20px 15px 20px;
	padding: 8px 10px 0 10px;
	border-color: #9FD1F5;
	background: #C3E6FF url("../images/msg-info.png") repeat-x;
	color: #005898;
}

.msg-info p {
	margin: 0 0 8px 0;
	padding-left: 25px;
	background: url("../images/led-ico/exclamation.png") 0 50% no-repeat;
}


/* wrap of box's content */
.boxin {box-shadow: #aaa 0 0 10px; -webkit-box-shadow: #aaa 0 0 10px; -moz-box-shadow: #aaa 0 0 10px; 
	border: 1px solid #999; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.boxLogin{ width:470px;}
.bglogin{ background: #FFF url("../images/bglogin.png") repeat-x; background-position:bottom; }

/******************* Main Content *******************/
table{ width:100%; margin-bottom:5px;}
table th {padding: 7px 10px 7px 10px; font-size:14px; font-weight:normal;}
table td {padding: 5px 10px 5px 10px; font-size:13px;}
table tr.even td {background: #f5f5f5;}
table thead th {border-left: 1px solid #f2f2f2; border-right: 1px solid #d5d5d5; 
	background: #ddd url("../images/thead.gif") repeat-x; text-shadow: #fff 0 1px 0;}
table th.left {-moz-border-radius-topleft: 5px; -moz-border-radius-top: 5px; -webkit-border-top-left-radius: 5px; }
table th.right {-moz-border-radius-topright: 5px; -moz-border-radius-top: 5px; -webkit-border-top-right-radius: 5px; }
tbody tr.first td {border-top: 1px solid #bbb;}

.header {
	background: #3d3d3d url("../images/header.png") repeat-x; background-position:top;
	color:#FFF;
	border-top: 1px solid #444;
	border-radius: 5px 5px 0 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	position: relative;
	margin: -2px -1px 0 -1px;
	padding: 7px 0 7px 15px;
}

/***************** pagination ***************/
.pagination { font-size:12px; border-top: 1px solid #999; background: #fff url("../images/pagination.gif") repeat-x; 
	text-align: center; color: #333 !important; height:38px; -moz-border-radius-bottomleft: 5px; margin-bottom:3px; 
	-moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.pagination ul {position: relative; top: 2px; padding:0px;}
.pagination ul li {display: inline;}
.pagination a { border: 0; background: #ebebeb url("../images/pagination-item.gif") repeat-x; margin: 0 5px; 
	padding: 6px 10px; color: #333 !important; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 5px; 
	text-decoration:none;}
.pagination a:hover,
.pagination a:active,
.pagination a:focus {color: #0a80cf !important;}
.pagination strong {background: url("../images/pagination-arrow.gif") 50% 0 no-repeat; padding: 15px 10px 8px;}


/********* From Input **********/
.well {padding: 19px; margin:12px 0 5px 0; background-color: whiteSmoke; overflow:auto; 
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);	
	-webkit-border-radius: 4px;	
	-moz-border-radius: 4px; 
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.dvtr{ width:100%; float:left; }
.dvtd_left{ float:left; text-align:right; }
.dvtd_right{ float:left; padding-left:5px;}

.w-100{ width:100%;}
.w-80{ width:80%;}
.w-75{ width:75%;}
.w-60{ width:60%;}
.w-50{ width:50%;}
.w-45{ width:45%;}
.w-40{ width:40%;}
.w-30{ width:30%;}

.top5{ padding-top:5px; }
.top10{ padding-top:10px; }
.top15{ padding-top:15px; }

.center{ text-align:center;}
.left{text-align:left;}
.right{ text-align:right;}

input.txt, textarea {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid #999; background: url("../images/txt.gif") repeat-x; padding: 5px 2px;
}

.btn1 { border-style:none; background: url("../images/btn1.png"); background-repeat:no-repeat; color: white;
	cursor: pointer; width:108px; height:35px; }
.btn1:hover { background: url("../images/btn2.png"); background-repeat:no-repeat; }

.btn2 { border: 0; background: #EBEBEB url("../images/pagination-item.gif") repeat-x; margin: 0 5px; padding: 6px 10px;
color: #333; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 5px;}
.btn2:hover { color:#0a80cf; }

h1{ font-size:24px;}
h2{font-size:20px;}
h3{ font-size:18px;}
h4{font-size:16px;}
